<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <h1 class="my-5 text-primary">About us</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container d-flex pull-left ml-5">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-danger">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Who we are...</h1>
            <p class="lead my-3">SK Traders is a small fabric company located at Manpur Patwatoli, a small area of part of Gaya district in Bihar. It is almost 16km from the heritage site "Bodhgaya". </p>   
        </div>
    </div>
</div>


<div class="container d-flex justify-content-center">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-success">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">History of the Business...</h1>
            <p class="lead my-3">Our locality mostly does the weaving of fabrics and so do we. It all started a very long time back. Only few people could own a powerloom and start the business that time.
                Now, it has come to modern era which uses modern powerlooms to manufacture the fabrics and the industry has grown to a large extent.</p>
        </div>
    </div>
</div>


<div class="container d-flex pull-right mr-5">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-info">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">What we sell...</h1>
            <p class="lead my-3">The company manufactures and sells a variety of fabrics.
                Some of them include Gamchha, Bedsheets, Rajai, Quilt-Covers, etc.
            </p>   
            <p class="lead my-2">View our <a class="text-light" routerLink="/products">Products</a> page for more details</p>
        </div>
    </div>
</div>