<ngb-carousel #carousel [interval]="3000">
  <ng-template ngbSlide>
    <div class="slides">
      <img src="assets/home/1.jpg">
    </div>
    <div class="carousel-caption">
      <h1>WELCOME</h1>
      <p>SK Traders Shopping Site</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="slides">
      <img src="assets/home/2.jpg">
    </div>
    <div class="carousel-caption">
      <h1>The Best in Class</h1>
      <p>The finest pure cotton fabrics.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="slides">
      <img src="assets/home/3.jpg">
    </div>
    <div class="carousel-caption">
      <h1>Explore our Products</h1>
      <p>Various products like Cotton-Gamcha, Bedsheets , Quilt-Covers and Rajai</p>
    </div>
  </ng-template>
</ngb-carousel>